.text-align-right{
    text-align: right;
}

.text-align-left{
    text-align: left;
}

.image-center{
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    min-width: 200px;
}
.image {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 50px;
}
.image:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}
@-webkit-keyframes flash {
    0% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}
